<launch>
	<arg name="joy0" default="/dev/input/js0"/>
	<arg name="joy1" default="/dev/input/js1"/>
        <!-- read joy node -->
	<node name="joy_node0" pkg= "joy" type="joy_node" output="screen">
		<param name="dev" type="string" value="$(arg joy0)"/>
		<remap from="/joy" to="/joy0" />
	</node>
	<node name="joy_node1" pkg= "joy" type="joy_node" output="screen">
		<param name="dev" type="string" value="$(arg joy1)"/>
		<remap from="/joy" to="/joy1" />
	</node>

	<node name="controller" pkg= "remote_controller" type="controller" output="screen"></node>

	<!-- Xtion -->
	<!--<include file="$(find remote_controller)/launch/xtion.launch"/>-->
        <!--<include file="$(find remote_controller)/launch/xtion2.launch"/>-->
        <!--<include file="$(find remote_controller)/launch/xtion3.launch"/>-->

	<!-- Mapviz -->
	<!--<include file="$(find remote_controller)/launch/mapviz.launch"/>-->
</launch>
